<%- include('../includes/head.ejs') %>
        <link rel="stylesheet" href="/css/project.css">
    </head>

    <body>
        <%- include('../includes/header.ejs') %>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/overlay.ejs') %>
        <main>
            <% if (prods.length > 0) { %>
                <div class="grid">
                    <% for (let product of prods) { %>
                        <article class="card">
                            <header class="cardHeader">
                                <h1 class="productTitle">
                                    <%= product.title %>
                                </h1>
                            </header>
                            <div class="cardContent">
                                <div class="cardImg">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="bookImg">
                                </div>
                                <div class="cardInfo">
                                    <div class="cardDetails">
                                        <h2 class="product__price">$
                                            <%= product.price %>
                                        </h2>
                                        <p class="product__description">
                                            <%= product.description %>
                                        </p>
                                    </div>
                                    <div class="cardAction">
                                        <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                                        <form action="/admin/delete-product" method="POST">
                                            <input type="hidden" value="<%= product._id %>" name="productId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <% } %>
                </div>
                <% } else { %>
                    <h1>No Products Found!</h1>
                    <% } %>
        </main>
            <%- include('../includes/end.ejs') %>